<div class="content">
  
  <div class="row-fluid">
  <div class="span6 offset3">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
             <!-- <img src="//placehold.it/1024x700" width="100%">-->
             <%=image_tag("mambapoint1.jpg", alt: "Find a Restaurant")%>
        <div class="carousel-caption">
          <h4><%=link_to "Mamba Point Restaurant", :controller => "search_results", :query => "mamba"%></h4>
          <p>Dining Room.</p>
        </div>
      </div>
      <div class="item">
              <!--<img src="//placehold.it/1024x700/662222" width="100%">-->
              <%=image_tag("mambapoint6.JPG", alt: "Find a Restaurant")%>
        <div class="carousel-caption">
          <h4>Mamba Point Restaurant</h4>
          <p>Garden Terrace.</p>
        </div>
      </div>
      <div class="item">
        <!--<img src="//placehold.it/1024x700/119922" width="100%">-->
        <%=image_tag("mambapoint5.jpg", alt: "Find a Restaurant")%>
        <div class="carousel-caption">
          <h4>Mamba Point Restaurant</h4>
          <p>Private Room.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
  </div>
  


  <div class="row">
  	<div class="span8">
  	  <%=image_tag("findrestaurant.jpg", alt: "Find a Restaurant")%>
  	  <%=image_tag("reservetable.jpg", alt: "Reserve a table")%>
  	  <%=image_tag("dining.jpg", alt: "dine")%>
  	</div>
  	<div class="span4">
  	  <p>TrueDine is Uganda's first restaurant reservation site. No need to make a phone call. You reservation is instantly confirmed at your restaurant of choice. And best of all, its all free.</p>
  	  <p>We take it further by helping you discover new and exciting dining spots that you may not have discovered with our comprehensive search features. We aim to provide the ultimate dining experience.</p>
  	</div>

  </div>

 </div>
</div>