<div class="row">
  	<div class="span8">
  	  <%=image_tag("findrestaurant.jpg", alt: "Find a Restaurant")%>
  	  <%=image_tag("reservetable.jpg", alt: "Reserve a table")%>
  	  <%=image_tag("dining.jpg", alt: "dine")%>
  	</div>
  	<div class="span4">
  	  <p>TrueDine is Uganda's first restaurant reservation site. No need to make a phone call. You reservation is instantly confirmed at your restaurant of choice. And best of all, its all free.</p>
  	  <p>We take it further by helping you discover new and exciting dining spots that you may not have discovered with our comprehensive search features. We aim to provide the ultimate dining experience.</p>
  	</div>

  </div>

  <div class="row">
    <div class="span6">
      <%=image_tag("orderfoodlaunch.jpg", alt: "Order Food online")%>
    </div>
    <div class="span6">
      <h4>Hungry? Just Order it</h4>
      <p> It gets better, you can now order food from your favorite takeout restaurant and have it delivered or go and pick it up. No more wasting time.</p>
    </div>
  </div>