<h2>Sign up</h2>
<div class= "aligncontent">
<div id="new_visitor">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :first_name, :autofocus => true, :required => true %>
  <%= f.input :last_name, :required => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :mobile, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>