<%if @restaurants.size == 0%>
<h4>No results found </h4>
<%end%>
<%@restaurants.each do |restaurant|%>
  
<div class="content">
 <div class="row">
   <div class="span2">
    <!--<img class="img-polaroid"src="http://placehold.it/146x104" alt=""> -->
    <%=filepicker_image_tag restaurant.filepicker_url, w: 146, h: 104, fit: 'clip'%>
  </div>
  <div class="span4">
   <h4> <%= link_to restaurant.restaurant_name, restaurant %></h4>
   <p><%=restaurant.description%></p>
   <%restaurant.cuisines.each do |cuisine|%>
   <p>cuisine: <%=cuisine.cuisine_name%></p>
   <%end%>
   </div>
 </div>
</div>
<%if current_user && current_user.has_role?(:admin) %>
<%= link_to "Edit Restaurant Details", edit_restaurant_path(restaurant) %>
<%= link_to("Delete Restaurant", restaurant_path(restaurant), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %>
<%end%>
<%end%>
<%=will_paginate @restaurants%>