<h3>Users</h3>
<div class="span8">
<table class="table table-condensed">
    <thead>
      <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Role</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.first_name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
        <td>
          <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
          <%= render user %>
        </td>
        <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <div class="content span4">
   <h4>Enter New Restaurant Information</h4>
   <%= link_to "New Restaurant", new_restaurant_path %>
    <h4>Enter New Cuisine</h4>
    <%= link_to "New Cuisine", new_cuisine_path %>
    <h4>Enter New City/Location</h4>
    <%= link_to "City/Location", new_location_path %>
    <h4>Enter New Area</h4>
    <%= link_to "Area", new_area_path %>
   </div>

</div>
