<h1>Reservations</h1>
<div id="reservations">
  <h2 id="month"><%=link_to "<", date: @date.prev_month%>
  <%=@date.strftime("%B %Y")%>
  <%=link_to ">", date: @date.next_month%>
</h2>
  <%=calender do |date|%>
    <%=date.day%>
    <% if @reservations_by_date[date]%>
     <ul>
     	<%@reservations_by_date[date].each do |reservation|%>
     	 <li><%= link_to current_user.first_name + " " + reservation.time, restaurant_reservation_path(@restaurant,reservation)%></li>
     	<%end%>
     </ul>
    <%end%>
  <%end%>
</div>