<div class="content center">

<%= simple_form_for ([@restaurant,@reservation]) do |f| %>
  <%= f.input :day %>
  <%= f.input :number_of_people, collection: 1..20 %>
  <%= f.input :time, collection: ["4.30 pm","5.00 pm","5.30 pm","6.00 pm","6.30 pm","7.00 pm","7.30 pm","8.00 pm","8.30 pm","9.00 pm","9.30 pm","10.00 pm","10.30 pm"] %>
  <%= f.input :special_requirements %>
  
  <%= f.button :submit %>
<% end %>

</div>