<div class="content">
<h3>Edit Area Information</h3>
<%= simple_form_for @area do |f| %>
  <%= f.input :area_name %>
  <%= f.association :location, label_method: :location_name, prompt: 'choose a location' %>
  <%= f.button :submit %>
<% end %>
</div>