<div class="content center">

<%= simple_form_for @area do |f| %>
  <%= f.input :area_name %>
  <%= f.association :location, label_method: :location_name, prompt: 'choose a location' %>
  <%= f.button :submit %>
<% end %>

</div>