<h3>Area</h3>
<p><%=@area.area_name%></p>
<p>City:<%=@area.location.location_name%></p>
<h2>Restaurants</h2>
<%@area.restaurants.each do |restaurant|%>
   <p> <%=restaurant.restaurant_name%></p>
<%end%>
