<div class="content center">
<h3>Edit Restaurant Information</h3>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :restaurant_name %>
  <%= f.input :description %>
  <%= f.input :menu %>
  <%= f.association :cuisines, label_method: :cuisine_name, value_method: :id %>
 <%= f.input :area_id,collection: @locations, as: :grouped_select, group_method: :areas, label_method: :area_name%>

  <%= f.button :submit %>
<% end %>
</div>