<div class="content center">

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :restaurant_name %>
  <%= f.input :description %>
  <%= f.input :menu %>
  <%= f.association :cuisines, label_method: :cuisine_name %>
 <%= f.input :area_id,collection: @locations, as: :grouped_select, group_method: :areas, label_method: :area_name%>
  <div>
    <%= f.label :filepicker_url, "Upload Restaurant Image" %>
    <%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
  </div>
  
  <%= f.button :submit %>
<% end %>

</div>