<div class="content">
 <div class="row">
   <div class="span3">
    <!--<img class="img-polaroid"src="http://placehold.it/480x300" alt="">-->
    <%=filepicker_image_tag @restaurant.filepicker_url, w: 480, h: 300, fit: 'clip'%>

  </div>
  <div class="span6">
   <h3> <%= @restaurant.restaurant_name %></h3>
   <p><%=@restaurant.area.area_name%></p>
   <p><%=@restaurant.description%></p>
   <%@restaurant.cuisines.each do |cuisine|%>
   <p>cuisine: <%=cuisine.cuisine_name%></p>
   <%end%>
   
    <!--<%=link_to 'BOOK', new_restaurant_reservation_path(@restaurant),:class => "btn btn-large btn-primary"%>-->
   
   </div>
 </div>
</div>


