// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reservations .calender {
  border-collapse: collapse;
  width: 100%;
  td,th {
   font-size: 10px;
   padding: 6px;
   border: 1px solid #999;
  }

  th {
   background: #DDD;
   color: #666;
   text-align: center;
   width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px
  }
  
   .notmonth {color: #CCC;}
   .today { background-color: #D7F2FF;}

}

#reservations #month {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	a {
	  text-decoration: none;
	  padding:0 10px;
	  color: #999;
	}
}

#reservations ul {
	font-size: 11px;
	padding-left: 20px;
}