<%@locations.each do |location|%>
<div class="content">
<h4> <%= link_to location.location_name, location %></h4>
<%= link_to("Delete Location", location_path(location), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %>
</div>
<%end%>