<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",  '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "TrueDine Restaurants",'#'%></li>
    </ul>
  </nav>
  <small>
    2013 TrueDine. All Rights Reserved
  </small>
</footer>