<header class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to "TrueDine", '#', id: "logo" %>
      <%= link_to image_tag("fork-knife-hi.png", alt: "Rails"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right navbold">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if current_page?(restaurants_path) %>"><%= link_to "Restaurants",restaurants_path %></li>
          <li class="<%= 'active' if current_page?(works_url) %>"><%= link_to "How it works", works_url %></li>
          <%if user_signed_in?%>
            <%if current_user.has_role? :admin %>
              <li><%= link_to('Admin', users_path) %></li>
            <% end %>
            <% if current_user.has_role? :restaurant %>
               <li><%= link_to('Reservations', '#') %></li>
            <%end%>  
           
          <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <%else%>
          <li><%= link_to "already a member? Sign in",new_user_session_path %></li>
          <li><%= link_to "Sign up",new_user_registration_path  %></li>
          <%end%>
          
        </ul>
      </nav>
    </div>
  </div>
</header>