
<%=form_tag search_url, method: :get, :class =>'form-search center' do%>
  <%=text_field_tag :query, params[:query] ,{:class=>"input-xxlarge search-query", :placeholder=>"Restaurants,Locations, Cuisines"}%>
     <button type="submit" class="btn">Search</button>
   <%end%>


