<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%=render 'layouts/shim' %>
  <%=render 'layouts/font' %>
  <%= filepicker_js_include_tag %>

</head>
<body>
<%= render 'layouts/header' %>
<div class='container'>
 <%= render 'layouts/social_buttons' %>
 <%= render 'layouts/messages' %>
 <%= render 'layouts/searchbar' %>

<%= yield %>
<%=render 'layouts/footer' %>
</div>
